

PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=my-db

API_KEY=

SEND_EMAIL=false
MAILER_SERVICE=
MAILER_EMAIL=
MAILER_SECRET_KEY=

WEB_SERVICE=http://localhost:3000


DATABASE_URL="postgresql://postgres:123456@localhost:5432/my-db"